---
---
@import "{{ site.theme }}";

/* Add your custom CSS below this line */

$max-width: 90%; /* Define your new maximum width here */

.content-container {
  max-width: 90%; /* Increase the maximum width of the content container */
  padding-left: 0.5rem; /* Adjust padding if needed to reduce margin space */
  padding-right: 0.5rem; /* Adjust padding if needed to reduce margin space */
  margin: 0 auto; /* Ensures the content remains centered */
}

.wrapper section {
  max-width: 90%; /* This should now correctly apply the new width */
  margin: 0 auto; /* Keeps the content centered on the page */
  padding: 2rem 1rem; /* Adjusts the internal spacing (optional) */
}

header {
  background-image: url('/assets/images/header.jpg'); /* Replace with the correct path to your image */
  background-size: auto; /* Optional: ensures the image covers the entire header area */
  background-repeat: no-repeat; /* Optional: prevents image tiling */
  background-position: center; /* Optional: centers the image within the header */
  /* You may also need to adjust the height if the image is cropped awkwardly */
  height: 200px; /* Adjust height as needed */
}

header h1, header .site-title a { /* Adjust selectors based on inspection */
  color: #ffffff; /* Example: White text for a dark background */
}

body {
  /*background-color: #f66904;  New background color */
}
